@using DomainLayer;
@{
    ViewBag.Title = "Detail";
    ViewBag.Description = "Popis";
    int year = DateTime.Now.Year;
    int month = DateTime.Now.Month;
    int maxY = 2019;
    int maxM = 5;
    int cDays = DateTime.DaysInMonth(maxY, maxM);
    string from = new DateTime(year, month, 1).ToString("dd-MMMM-yyyy");
    string to = new DateTime(year, month, cDays).ToString("dd-MMMM-yyyy");
    AdGroup adGroup = ViewBag.adGroup;
}
@ViewBag.Title
@ViewBag.Name




<script src="~/metronic/code/highcharts.js"></script>
<script src="~/metronic/code/modules/series-label.js"></script>
<script src="~/metronic/code/modules/exporting.js"></script>
<script src="~/metronic/code/modules/export-data.js"></script>
<link href="~/metronic/vendors/general/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css" />

<div class="form-group row">

    <div class="col-lg-4 col-md-9 col-sm-12">
        <div class="input-group pull-right" id="kt_daterangepicker_6">
            <input type="text" class="form-control" readonly="" placeholder="Vybrat datové rozmezí">
            <div class="input-group-append">
                <span class="input-group-text"><i class="la la-calendar-check-o"></i></span>
            </div>
        </div>
    </div>

</div>
<div id="container"></div>


<script type="text/javascript">
        Highcharts.chart('container', {

            title: {
                text: '@from - @to'
            },

            legend: {
                layout: 'vertical',
                align: 'left',
                verticalAlign: 'middle'
            },
            yAxis: {
                title: {
                    text: ''
                }
            },
            xAxis: {
                type: 'datetime',
                max: Date.UTC(@maxY, @maxM, @cDays),
                min: Date.UTC(@maxY, @maxM, 1)
            },

            plotOptions: {
                series: {

                    pointStart: Date.UTC(@year, @month, 1),
                    pointInterval: 24 * 3600 * 1000 // one day

                }
            },

            series: [{
                name: 'Prokliky',
                data: [300, 20, 600, 30, 200, 879, 333, 666, 222]
            }, {
                name: 'Zobrazení',
                data: [2000, 300, 2654, 364, 952, 2634, 526, 987, 444]
            }, {
                name: 'Cena',
                data: [1000, 500, 1234, 365, 665, 2300, 985, 1456, 333]
            }],

            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 500
                    },
                    chartOptions: {
                        legend: {
                            layout: 'horizontal',
                            align: 'center',
                            verticalAlign: 'bottom'
                        }
                    }
                }]
            }

        });
</script>


    &nbsp;

<div class="portlet light bordered">

    <div class="portlet-body">

        <div class="table-toolbar">
            <div class="row">
                <a href="/Campaign/NewCampaign" class="btn btn-primary"><i class="fa fa-plus"></i> Nová Reklama</a> &nbsp;
                <h3 style="margin-left:50px;margin-top:5px;color:black">@ViewBag.campaignN</h3>
                <h4 style="margin-left:50px;margin-top:10px;color:black">@adGroup.adGroupName</h4>
            </div>
        </div>
        &nbsp;
        <div class="table-scrollable">
            <table class="table table-striped table-bordered table-hover table-checkable order-column" id="campaigns">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                <input type="checkbox" class="group-checkable" data-set="#campaigns .checkboxes" />

                            </label>
                        </th>
                        <th> Reklama </th>
                        <th> Požadovaná zobrazení </th>
                        <th> Zobrazení </th>
                        <th> Prokliky </th>
                        <th> CTR% </th>

                    </tr>

                </thead>
                <tbody>
                    @foreach (var aC in adGroup.ads)
                    {
                        <tr class="active">
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input type="checkbox" class="checkboxes" value="1" />

                                </label>
                            </td>
                            <td>@aC.title</td>
                            
                            <td>@adGroup.requiredViews</td>
                            <td>@aC.views</td>
                            <td>@aC.clicks</td>
                            <td>@aC.ctr</td>
                        </tr>
                    }

                        <tr class="bg-secondary">
                            <td></td>
                            <td>Celkem</td>
                            <td></td>
                            <td>@ViewBag.viewsA</td>
                            <td>@ViewBag.clicksA</td>
                            <td>@ViewBag.ctrA</td>
                        </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>